{% extends 'photo/base.html' %}

{% block content %}

<div class="container">
    <div class="row row-flex">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <div class="price-table pt-bg-black">
                <ul>
                    <li>Ламповая лавстори.</li>
                    <li>Отдаю фотографии в течение 10 дней.</li>
                    <li>Имеются подарочные сертификаты</li>
                </ul>
                <a href="https://vk.com/feoktistova_ph">По поводу записи тыкай сюда:)</a>
            </div>
        </div>

{% endblock content %}